<style>
.test {
	background: rgba(0, 0, 0, 0.5);
	width: 15px;
	height: 15px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin: 0px 0 0 -2px;
	border: solid 2px rgba(255, 255, 255, 0.8);
	line-height: 1em;
	text-align: center;
	color: #FFF;
	cursor: default;
	font-size: 15px;
	line-height: 15px;
	background-color:white;
	position:absolute;
	left:268px;
	top: 162px;
	z-index:3;
}
.test2 {
	border: solid 2px rgba(255, 255, 255, 0.8);
	background-color:white;
	position:absolute;
	left:268px;
	top:162px;
	z-index:3;
}
.annotation_label {
	position:absolute;
	left:240px;
	top:140px;
	visibility:visible;
	background-color:white;
}
HTML {
margin:0;
overflow:hidden;
border:none;
}
body {
margin:0;
scroll=no;
}
</style>
<img src="/media/images/Transparent.gif" style="z-index:2;position:absolute;left:0px;top:0px;height:400px;width:500px;" />
<img src="/media/images/anteater1.jpg" style="z-index:1;" />
<div id="annotation_label" class="annotation_label">Luxurious Fur</div>
<div id="test" class="test2"><a href="http://heyyeyaaeyaaaeyaeyaa.com/" target="_top">+</a></div>
